.text_16 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_24 {
  font-family: Kumbh Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_16 {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title_32 {
  color: #e4191b;
  font-family: Bebas Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-title {
  color: #fdfdfd;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
